@keyframes pulsar{
    
    from{
        border-right-color:green;
    }
    to{
        border-right-color: transparent;
    }
}

@keyframes escrita{
    from{
        width: 0;
    }

    to{
        width: 230px;
    }
}