*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0);
    z-index: 2;
}

.cabecalho-logo img{
    width: 200px;
    border-radius: 5px;
    margin-left: 40px;
}

.cabecalho-item{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}


#inicio{
    padding-top: 70px;
    height: 700px;
    width: auto;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 30px;
}

#inicio video{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 1px;
    opacity: 0.6;
}

#sobre-mim{
    height:600px;
    background-color: #474747;
}

#meus-projetos{
    height: 600px;
}

#contato{
    height:400px;  
    background-color: #474747;
}

#sobre-a-fatec{
    height:600px;  
}

footer{
    text-align: center;
}