*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 50%, rgba(38,38,38,1) 100%);
    z-index: 2;
}

.cabecalho-logo img{
    width: 200px;
    border-radius: 5px;
    margin-left: 40px;
}

.cabecalho-item{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}


#inicio{
    padding-top: 65px;
    height: 700px;
    width: auto;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 30px;
}

#inicio video{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 1px;
    opacity: 0.6;
}

#sobre-mim{
    height:600px;
    background-color: #474747;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sobre-mim-texto{
    border: 1px solid purple;
    width: 500px;
    height: max-content;
}
.sobre-mim-foto{
    height: 300px;
}

#meus-projetos{
    height: 600px;
}
.meus-projetos-subtitulo{
    text-align: center;
    margin: 2%;
}

#contato{
    height:400px;  
    background-color: #474747;
}

#sobre-a-fatec{
    height:600px;
    display: flex;  
}

#sobre-a-fatec section{
    padding: 10px;
    width: 50%;
}

footer{
    text-align: center;
}