*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face{
    font-family: 'Raster';
    src: url(/assets/fontes/raster.ttf);

}
@font-face{
    font-family: 'segoe ui';
    src: url(/ViniciusCassemira.github.io/assets/fontes/Segoe\ UI.ttf);
}
@font-face{
    font-family: 'segoe ui bold';
    src: url(/ViniciusCassemira.github.io/assets/fontes/Segoe\ UI\ Bold.ttf);
}

body{
    background-color: black;
    color: white;
}

/* efeito de animação piscando */
.barra-digitar{
    animation: barra-digitar 1.3s infinite linear;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    position: fixed;
    color: white;

    font-family: raster;
    font-size: 18px;

    background: rgb(0,0,0);

    z-index: 1;
}

#cabecalho-logo{
    color: white;
    margin-left: 60px;
}

.cabecalho-item{
    display: flex;
    gap: 40px;
    margin-right: 60px;
}
.cabecalho-item a{
    color: white;
    padding: 1px;
}

.cabecalho-seta{
    opacity: 0;
}


.cabecalho-item a:hover .cabecalho-seta{
    opacity: 1;
}

#inicio{
    padding-top: 65px;
    height: 800px;
    width: auto;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 0);

    font-family: raster;
    font-size: 35px;

    /* border: 1px solid red; */
}

#inicio-texto1{
    width: 230px;
    white-space: nowrap;
    overflow-x: hidden;

    animation: pulsar 1s  steps(22) infinite normal,
    escrita1 2s steps(22) normal;
}
#inicio-texto2{
    width: 110px;
    white-space: nowrap;
    overflow-x: hidden;
    opacity: 0;

    animation: pulsar 1s 2s steps(14) infinite normal,
    escrita2 1.4s 2.2s steps(14) normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#inicio-texto3{
    opacity: 0;
    width: 130px;
    white-space: nowrap;
    overflow-x: hidden;

    animation: pulsar 1s 3.4s step-end infinite alternate,
    escrita3 1.4s 3.6s steps(14)normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



#video-inicio{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 1px;
    opacity: .3;
    scale: 1.2; /*aumentar o tamanho do vídeo*/
    margin-left: 15%; /*centralizar um pouco o video*/
    margin-top:5%;/*centralizar um pouco o vídeo*/
}

#sobre-mim{
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8%;
}
#sobre-mim-subtitulo{
    color: purple;
    font-family: raster;
    font-size: 27px;
    text-align: center;
}

.sobre-mim-conteudo{
    width: 100%;
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sobre-mim-conteudo p{
    width: 500px;
    height: max-content;
    font-family: Raster;
    font-size: 20px;
}
.sobre-mim-foto{
    height: 350px;
    /* border: 2px solid purple; */
    border-radius: 6px;
}


#ferramenta{
    background-color: rgb(255, 255, 255);
    color:green;
    height: 104px;
}

#ferramenta h2{
    width: 100%;
    height: 34px;
    text-align: center;
    font-family: raster;
    font-size: 24px;
}

#ferramenta h2:hover .slide-grupo{
    animation-play-state: paused;
}

.slide{
    overflow: hidden;
    white-space: nowrap;
}

.slide:hover .slide-grupo{
    animation-play-state: paused;
}

.slide-grupo{
    margin-top: 10px;
    animation: carrosel 15s infinite linear;
    display: inline-block;
}

.slide-imagem{
    height: 50px;
    margin: 0px 100px;
}

#meus-projetos{
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:8%;
}

.meus-projetos-grupo{
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.meus-projetos-projeto{
    height: 280px;
    width: 390px;

    border: 2px solid white;
    /* border-radius: 8px; */
    background-color:rgba(209, 209, 209, 0.76);
    text-align: center;
    font-family: raster;

    scale: 1.0;
    transition: 0.3s;
}
.meus-projetos-projeto:hover{
    scale: 1.015;
    transition: 0.3s;
}

.meus-projetos-projeto a{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7%;
    color: white;
}


#projeto-imagem{
    margin-top: 0%;
    height: 210px;
    width: 386px;
    /* border-radius: 8px 8px 0px 0px; */
}

.meus-projetos-subtitulo{
    text-align: center;
    color: purple;

    font-family: raster;
    font-size: 27px;
}

.meus-projetos-projeto h3{
    text-align: center;
}

/*
video{
    position: relative;
    overflow: hidden;
    width: auto;

}
#video-meus-projetos{
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 1px;
    opacity: 0.2;

    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
}*/

#contato{
    height:400px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12%;
}
#contato h2{
    text-align: center;
    color: purple;

    font-family: raster;
    font-size: 27px;
}

#contato-grupo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.contato-elemento a img{
    height: 160px;
}

.contato-elemento a p{
    font-family: raster;
    font-size: 21px;
    margin: 2px;
    color: rgb(0, 0, 0);
}


.contato-elemento{
    background-color: rgba(209, 209, 209, 0.76);
    /* border-radius: 10px; */
    border: 2px solid rgb(65, 65, 65);
    text-align:center;

    scale: 1.00;
    transition: 0.3s;
}
#contato div:hover{
    scale: 1.02;
    transition: 0.3s;
}

#sobre-a-fatec{
    height:700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;    
}

#sobre-a-fatec h2{
    text-align: center;
    font-family: Raster;
    font-size: 27px;
    color: green;
}
#sobre-a-fatec-grupo{
    display: flex;
    align-items: center;
}
#sobre-a-fatec div{
    padding: 10px;
    width: 50%;
    height: max-content;

    background-color: rgb(18, 18, 18);
    border: 2px solid rgb(255, 255, 255);
    /* border-radius: 15px 30px; */
    margin: 15px  30px;
}

#sobre-a-fatec div a{
    color: white;
    text-decoration: underline;
}

#sobre-a-fatec p{
    margin: 8px;
    font-family: Raster;
    font-size: 18px;
}
.strong-verde{
    color: green;
}
.strong-roxo{
    color: purple;
}
#sobre-a-fatec h3{
    padding-left: 10px;
    color: green;
    margin-bottom: 10px;
    font-family: Raster;
    font-size: 24px;
}

article h2{
    font-family: segoe ui bold;
    font-size: 22px;
}


footer{
    text-align: center;
}